<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <title>Read (One)</title>
</head>
<body>
    <a href = "/shows/">Go Back</a>
    <h1>TV Show {{ show.id }} </h1>

    <h3>Title: {{ show.title }}</h3>
    <h3>Network: {{ show.network }}</h3>
    <h3>Release Date: {{ show.release_date|date:"SHORT_DATE_FORMAT" }}</h3>
    <h3>Description: {{ show.description }}</h3>

    <h3>Last Updated: {{ show.updated_at }} </h3>

    <p><a href = "/shows/{{ show.id }}/edit"">Edit</a> | <a href = "/shows/{{ show.id }}/destroy"">Delete</a></p>

    

    
</body>
</html>